NODE_ENV=development
PORT=3001
USER=emex
PASSWORD=123456
DATABASE_LOCAL=mongodb://localhost:27017/DBName 
JWT_SECRET=mysecure_private_key_jwtPrivateKey_secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_HOST=smtp.mailtrap.io
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_PORT=25 